.container
  %h5.text-center.mt-2.mb-3
    プログラミング技術に関する専門用語を自分なりの言葉で解説してみましょう！
    %br
    投稿された内容はあなたのユーザーページにて辞書化され、振り返りや共有に使用出来ます

  .text-center.mb-5
    - unless user_signed_in?
      = button_to("テストユーザーでログイン", testlogin_users_path, class: 'btn btn-primary')

  .mb-3.between-space.row
    = render partial: 'shared/post', collection: @posts