/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 body {
   background-color: #f8f7f7;
 }

 .dictionary-wrapper {
   margin: 0 auto;
   border: solid gray;
   height: 560px;
 }

 .dictionary-btn {
   height: 60px;
   width: 60px;
  //  border: solid red;
   text-align: center;
   border-radius: 100%;
   margin: 250px auto;
 }

.dictionary-scrollbar {
  border: solid red;
  height: 20px;
  margin-top: 20px;
}

.dictionary-menu {
  border: solid red;
  height: 50px;
  width: 50px;
  margin-bottom: -50px;
}

.dictionary-content {
  position: relative;
  display: flex;
  color: black;
  border: solid;
  border-color: red;
  height: 140px;
}

.right-under {
  position: absolute;
  bottom: 0;
  right: 0;
}